/* screen - home */

.home {
  align-items: flex-start;
  display: flex;
  min-width: 1721px;
  overflow-x: hidden;
}

.home .overlap-group1 {
  height: 919px;
  margin-left: -4px;
  margin-top: -2px;
  position: relative;
  width: 1726px;
}

.home .overlap-group {
  height: 919px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1724px;
}

.home .menu {
  align-items: center;
  background-image: url(../img/menu@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 902px;
  position: absolute;
  top: 10px;
  width: 287px;
}

.home .union {
  align-self: flex-start;
  height: 1px;
  margin-left: -0.25px;
  width: 1px;
}

.home .group-286 {
  align-items: center;
  display: flex;
  margin-left: 2.0px;
  margin-top: 322px;
  min-width: 145px;
}

.home .iconly-light-ticket {
  height: 35px;
  width: 35px;
}

.home .tickets {
  letter-spacing: 0;
  margin-left: 16px;
  margin-top: 1.0px;
  min-height: 30px;
  width: 92px;
}

.home .group-285 {
  align-items: center;
  display: flex;
  margin-right: 1.0px;
  margin-top: 38px;
  min-width: 148px;
}

.home .compass-1 {
  height: 37px;
  width: 37px;
}

.home .discover {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 1.0px;
  min-height: 30px;
  width: 92px;
}

.home .group-284 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  margin-right: 30.0px;
  margin-top: 36px;
  min-width: 111px;
}

.home .user {
  height: 30px;
  margin-left: -1px;
  margin-top: -1.0px;
  width: 28px;
}

.home .profile {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 22px;
  min-height: 30px;
  width: 60px;
}

.home .union-1 {
  height: 919px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 1701px;
}

.home .home-1 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 72px;
  min-width: 113px;
  position: absolute;
  top: 178px;
}

.home .home-2 {
  height: 32px;
  margin-left: -1px;
  margin-top: -1px;
  width: 30px;
}

.home .place {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 22px;
  min-height: 30px;
  width: 60px;
}

.home .upcoming {
  left: 123px;
  letter-spacing: 0;
  position: absolute;
  top: 251px;
  width: 103px;
}

.home .clock {
  height: 32px;
  left: 71px;
  position: absolute;
  top: 250px;
  width: 32px;
}

.home .logo {
  height: 48px;
  left: 38px;
  position: absolute;
  top: 30px;
  width: 224px;
}

.home .movies {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 321px;
  min-height: 453px;
  position: absolute;
  top: 418px;
  width: 1326px;
}

.home .group-275 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 426px;
  width: 1340px;
}

.home .title {
  letter-spacing: -0.24px;
  min-height: 47px;
}

.home .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 343px;
  margin-right: 14px;
  margin-top: 36px;
  min-width: 1264px;
}

.home .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 343px;
  width: 199px;
}

.home .rectangle {
  height: 300px;
  object-fit: cover;
  width: 199px;
}

.home .name-1 {
  letter-spacing: -0.24px;
  margin-left: 4px;
  margin-top: 12px;
  min-height: 31px;
}

.home .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 343px;
  width: 199px;
}

.home .name {
  letter-spacing: -0.24px;
  margin-top: 12px;
  min-height: 31px;
}

.home .name-6 {
  letter-spacing: -0.24px;
  margin-left: 1px;
  margin-top: 12px;
  min-height: 31px;
}

.home .group-261 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 65.0px;
  min-width: 1137px;
}

.home .exclude {
  height: 27px;
  width: 71px;
}

.home .group-261-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 142px;
  min-width: 284px;
}

.home .group-261-2 {
  background-image: url(../img/exclude-20@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  margin-left: 142px;
  width: 71px;
}

.home .group-container {
  height: 27px;
  margin-left: 142px;
  position: relative;
  width: 498px;
}

.home .group-278 {
  background-image: url(../img/exclude-21@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  left: 213px;
  position: absolute;
  top: 0;
  width: 71px;
}

.home .group-277 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  left: 0;
  min-width: 498px;
  position: absolute;
  top: 0;
}

.home .exclude-1 {
  height: 27px;
  margin-left: 356px;
  width: 71px;
}

.home .banners {
  align-items: flex-end;
  background-image: url(../img/d655ftf19-r5-12-2000x390px-lava-dymc-rom-r1-master-rev-1--1--1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 267px;
  left: 321px;
  min-width: 1375px;
  padding: 117.6px 25.1px;
  position: absolute;
  top: 135px;
}

.home .iconly-bulk-arrow-left-circle {
  align-items: flex-start;
  display: flex;
  height: 32px;
  justify-content: center;
  min-width: 32px;
}

.home .iconly-bulk-arrow-left-circle-1 {
  height: 33px;
  margin-top: -0.64px;
  width: 32px;
}

.home .iconly-bulk-arrow-right-circle {
  align-items: flex-start;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-left: 1257px;
  min-width: 32px;
}

.home .iconly-bulk-arrow-right-circle-1 {
  height: 33px;
  margin-top: -0.64px;
  width: 33px;
}

.home .search-box {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border-radius: 12px;
  display: flex;
  height: 74px;
  left: 346px;
  overflow: hidden;
  padding: 23.7px 23.7px;
  position: absolute;
  top: 33px;
  width: 1065px;
}

.home .search-icon {
  background-image: url(../img/search-icon@2x.svg);
  background-size: 100% 100%;
  height: 25px;
  width: 24px;
}

.home .type-to-search-for-a-movie {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10px;
  min-height: 26px;
  white-space: nowrap;
  width: 560px;
}

.home .cinema {
  align-items: center;
  display: flex;
  height: 48px;
  left: 1454px;
  min-width: 213px;
  position: absolute;
  top: 40px;
}

.home .map-pin-1 {
  height: 48px;
  width: 48px;
}

.home .chose-cinema {
  letter-spacing: -0.24px;
  margin-bottom: 1.0px;
  margin-left: 2px;
  min-height: 31px;
  min-width: 163px;
}
