/* screen - upcoming */
body{
  background-color: #121212;
}
.upcoming {
  align-items: flex-start;
  display: flex;
  min-width: 1721px;
  overflow-x: hidden;
}

.upcoming .overlap-group1 {
  height: 919px;
  margin-left: -4px;
  margin-top: -2px;
  position: relative;
  width: 1705px;
}

.upcoming .overlap-group {
  height: 919px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1705px;
}

.upcoming .menu {
  align-items: center;
  background-image: url(../img/menu@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 902px;
  position: absolute;
  top: 10px;
  width: 287px;
}

.upcoming .union {
  align-self: flex-start;
  height: 1px;
  margin-left: -0.25px;
  width: 1px;
}

.upcoming .group-286 {
  align-items: center;
  display: flex;
  margin-left: 2.0px;
  margin-top: 322px;
  min-width: 145px;
}

.upcoming .iconly-light-ticket {
  height: 35px;
  width: 35px;
}

.upcoming .tickets {
  letter-spacing: 0;
  margin-left: 16px;
  margin-top: 1.0px;
  min-height: 30px;
  width: 92px;
}

.upcoming .group-285 {
  align-items: center;
  display: flex;
  margin-right: 1.0px;
  margin-top: 38px;
  min-width: 148px;
}

.upcoming .compass-1 {
  height: 37px;
  width: 37px;
}

.upcoming .discover {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 1.0px;
  min-height: 30px;
  width: 92px;
}

.upcoming .group-284 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  margin-right: 30.0px;
  margin-top: 36px;
  min-width: 111px;
}

.upcoming .user {
  height: 30px;
  margin-left: -1px;
  margin-top: -1.0px;
  width: 28px;
}

.upcoming .profile {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 22px;
  min-height: 30px;
  width: 60px;
}

.upcoming .home {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 72px;
  min-width: 113px;
  position: absolute;
  top: 178px;
}

.upcoming .home-1 {
  height: 32px;
  margin-left: -1px;
  margin-top: -1px;
  width: 30px;
}

.upcoming .place {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 22px;
  min-height: 30px;
  width: 60px;
}

.upcoming .union-1 {
  height: 919px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 1677px;
}

.upcoming .group-296 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 72px;
  min-width: 156px;
  position: absolute;
  top: 251px;
}

.upcoming .clock {
  height: 32px;
  margin-left: -1px;
  margin-top: -1px;
  width: 32px;
}

.upcoming .upcoming-1 {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 30px;
  width: 103px;
}

.upcoming .logo {
  height: 48px;
  left: 38px;
  position: absolute;
  top: 30px;
  width: 224px;
}

.upcoming .panel2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 354px;
  min-height: 430px;
  position: absolute;
  top: 465px;
  width: 1267px;
}

.upcoming .group-275 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 403px;
  width: 1278px;
}

.upcoming .arriving-this-year {
  letter-spacing: -0.24px;
  min-height: 47px;
}

.upcoming .span {
  letter-spacing: -0.09px;
}

.upcoming .flex-row {
  align-items: flex-start;
  display: flex;
  height: 343px;
  margin-top: 13px;
  min-width: 1264px;
}

.upcoming .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 343px;
  width: 199px;
}

.upcoming .rectangle {
  height: 300px;
  object-fit: cover;
  width: 199px;
}

.upcoming .name-1 {
  letter-spacing: -0.24px;
  margin-left: 4px;
  margin-top: 12px;
  min-height: 31px;
}

.upcoming .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 343px;
  width: 199px;
}

.upcoming .name {
  letter-spacing: -0.24px;
  margin-top: 12px;
  min-height: 31px;
}

.upcoming .name-6 {
  letter-spacing: -0.24px;
  margin-left: 1px;
  margin-top: 12px;
  min-height: 31px;
}

.upcoming .group-261-1 {
  align-items: flex-start;
  display: flex;
  min-width: 1137px;
}

.upcoming .exclude {
  height: 27px;
  width: 71px;
}

.upcoming .group-261 {
  align-items: flex-start;
  display: flex;
  margin-left: 142px;
  min-width: 284px;
}

.upcoming .group-261-2 {
  background-image: url(../img/exclude-8@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  margin-left: 142px;
  width: 71px;
}

.upcoming .group-container {
  height: 27px;
  margin-left: 142px;
  position: relative;
  width: 498px;
}

.upcoming .group-278 {
  background-image: url(../img/exclude-9@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  left: 213px;
  position: absolute;
  top: 0;
  width: 71px;
}

.upcoming .group-277 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  left: 0;
  min-width: 498px;
  position: absolute;
  top: 0;
}

.upcoming .exclude-1 {
  height: 27px;
  margin-left: 356px;
  width: 71px;
}

.upcoming .panel1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 350px;
  min-height: 438px;
  position: absolute;
  top: 12px;
  width: 1278px;
}

.upcoming .premieres-this-month {
  letter-spacing: -0.24px;
  margin-left: 2px;
  min-height: 47px;
}

.upcoming .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 343px;
  margin-top: 7px;
  min-width: 1264px;
}

.upcoming .group-292 {
  align-items: flex-start;
  display: flex;
  margin-left: 4px;
  margin-top: 14px;
  min-width: 1137px;
}

.upcoming .group-261-3 {
  background-image: url(../img/exclude-14@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  margin-left: 142px;
  width: 71px;
}

.upcoming .group-278-1 {
  background-image: url(../img/exclude-15@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  left: 213px;
  position: absolute;
  top: 0;
  width: 71px;
}
