.group-286 {
  align-items: center;
  display: flex;
  margin-left: 2.0px;
  margin-top: 322px;
  min-width: 145px;
}

.iconly-light-ticket {
  height: 35px;
  width: 35px;
}

.tickets {
  letter-spacing: 0;
  margin-left: 16px;
  margin-top: 1.0px;
  min-height: 30px;
  width: 92px;
}

.group-286.group-286-1 {
  height: 35px;
  left: 72px;
  margin-left: unset;
  margin-top: unset;
  position: absolute;
  top: 313px;
}

.group-286.group-286-3,
.group-286.group-286-4 {
  margin-top: 231px;
}

