.upcoming-2 {
  align-items: flex-start;
  display: flex;
  height: 919px;
  min-width: 1721px;
  overflow-x: hidden;
}

.overlap-group1-5 {
  background-image: url(/static/img/bg@1x.svg);
  background-size: 100% 100%;
  height: 1080px;
  margin-left: -99px;
  margin-top: -80px;
  position: relative;
  width: 1920px;
}

.overlap-group-6 {
  height: 919px;
  left: 95px;
  position: absolute;
  top: 78px;
  width: 1705px;
}

.union-5 {
  height: 919px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 1677px;
}

.group-296 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 72px;
  min-width: 156px;
  position: absolute;
  top: 251px;
}

.clock-2 {
  height: 32px;
  margin-left: -1px;
  margin-top: -1px;
  width: 32px;
}

.upcoming-3 {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 30px;
  width: 103px;
}

.logo-4 {
  height: 48px;
  left: 133px;
  position: absolute;
  top: 108px;
  width: 224px;
}

.panel2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 449px;
  min-height: 430px;
  position: absolute;
  top: 543px;
  width: 1267px;
}

.group-275-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 403px;
  width: 1278px;
}

.arriving-this-year {
  letter-spacing: -0.24px;
  min-height: 47px;
}

.span-3 {
  letter-spacing: -0.09px;
}

.flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 343px;
  margin-top: 13px;
  min-width: 1264px;
}

.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 343px;
  width: 199px;
}

.rectangle-2 {
  height: 300px;
  object-fit: cover;
  width: 199px;
}

.name-1-2 {
  letter-spacing: -0.24px;
  margin-left: 4px;
  margin-top: 12px;
  min-height: 31px;
}

.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 343px;
  width: 199px;
}

.name-3 {
  letter-spacing: -0.24px;
  margin-top: 12px;
  min-height: 31px;
}

.name-6-2 {
  letter-spacing: -0.24px;
  margin-left: 1px;
  margin-top: 12px;
  min-height: 31px;
}

.panel1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 445px;
  min-height: 438px;
  position: absolute;
  top: 90px;
  width: 1278px;
}

.premieres-this-month {
  letter-spacing: -0.24px;
  margin-left: 2px;
  min-height: 47px;
}

.flex-row-9 {
  align-items: flex-start;
  display: flex;
  height: 343px;
  margin-top: 7px;
  min-width: 1264px;
}

