.group-294-2 {
  align-items: center;
  display: flex;
  height: 48px;
  left: 1454px;
  min-width: 213px;
  position: absolute;
  top: 40px;
}

.map-pin-1 {
  height: 48px;
  width: 48px;
}

.chose-cinema {
  letter-spacing: -0.24px;
  margin-bottom: 1.0px;
  margin-left: 2px;
  min-height: 31px;
  min-width: 163px;
}

.group-294-2.group-296 {
  height: unset;
  left: unset;
  margin-left: 9px;
  margin-top: 34px;
  position: unset;
  top: unset;
}

.group-294-2.group-292-1 {
  left: 330px;
  top: 87px;
}

