.button {
  align-items: center;
  background-color: var(--chateau-green);
  border-radius: 12px;
  display: flex;
  height: 74px;
  margin-left: 16px;
  overflow: hidden;
  padding: 0 24px;
  width: 119px;
}

.search {
  letter-spacing: 0;
  line-height: 26px;
  min-height: 26px;
  min-width: 71px;
  white-space: nowrap;
}

