.group-47 {
  align-items: center;
  background-color: var(--white-4);
  border-radius: 40px;
  display: flex;
  height: 80px;
  left: 549px;
  min-width: 80px;
  padding: 0 17px;
  position: absolute;
  top: 500px;
}

.overlap-group1-3 {
  height: 46px;
  position: relative;
  width: 46px;
}

.ellipse-1 {
  background-color: var(--jaguar);
  border-radius: 13.47px/13.76px;
  height: 28px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 27px;
}

.play-button-1 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 46px;
}

.group-47.group-49 {
  left: 551px;
  top: 501px;
}

