.admin {
  align-items: flex-start;
  display: flex;
  height: 919px;
  min-width: 1721px;
  overflow-x: hidden;
}

.overlap-group6-2 {
  height: 930px;
  margin-top: -11px;
  position: relative;
  width: 1725px;
}

.overlap-group2-4 {
  height: 930px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1721px;
}

.union-8 {
  height: 930px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 1701px;
}

.overlap-group-11 {
  align-items: center;
  background-color: var(--chateau-green);
  border-radius: 39px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  left: 439px;
  min-width: 524px;
  padding: 0 125px;
  position: absolute;
  top: 846px;
}

.add-chosen-option {
  letter-spacing: 0;
  min-height: 38px;
  min-width: 269px;
}

.vector {
  height: 12px;
  left: 68px;
  position: absolute;
  top: 561px;
  width: 27px;
}

.vector-1 {
  height: 15px;
  left: 74px;
  position: absolute;
  top: 541px;
  width: 15px;
}

.vector-2 {
  height: 12px;
  left: 100px;
  position: absolute;
  top: 549px;
  width: 2px;
}

.vector-3 {
  height: 2px;
  left: 95px;
  position: absolute;
  top: 554px;
  width: 12px;
}

.union-9 {
  height: 47px;
  left: 118px;
  position: absolute;
  top: 537px;
  width: 111px;
}

.upcoming-5 {
  left: 123px;
  letter-spacing: 0;
  position: absolute;
  top: 260px;
  width: 103px;
}

.clock-4 {
  height: 32px;
  left: 71px;
  position: absolute;
  top: 259px;
  width: 32px;
}

.union-10 {
  height: 30px;
  left: 71px;
  position: absolute;
  top: 462px;
  width: 112px;
}

.rectangle-112-1 {
  background-color: var(--shark);
  border-radius: 30px;
  height: 919px;
  left: 1148px;
  position: absolute;
  top: 11px;
  width: 573px;
}

.upload-1 {
  height: 20px;
  left: 1334px;
  position: absolute;
  top: 160px;
  width: 20px;
}

.future-functions-to-be-added {
  left: 1277px;
  letter-spacing: 0;
  position: absolute;
  top: 762px;
}

.admin-1 {
  left: 1470px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 179px;
}

.manage-movies {
  color: var(--chateau-green);
  font-family: var(--font-family-poppins);
  font-size: 30px;
  font-weight: 300;
  left: 330px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
}

.overlap-group3-2 {
  align-items: center;
  background-color: var(--chateau-green);
  border-radius: 39px;
  display: flex;
  height: 50px;
  left: 1168px;
  min-width: 524px;
  padding: 0 118px;
  position: absolute;
  top: 615px;
}

.postponedelay-movie {
  letter-spacing: 0;
  min-height: 38px;
  min-width: 287px;
}

.save-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 1168px;
  min-height: 146px;
  position: absolute;
  top: 290px;
  width: 528px;
}

.options {
  letter-spacing: 0;
  margin-right: 4.0px;
  min-height: 38px;
  min-width: 98px;
}

.overlap-group4-1 {
  align-items: flex-start;
  background-color: var(--chateau-green);
  border-radius: 39px;
  display: flex;
  height: 50px;
  margin-right: 4.0px;
  margin-top: 58px;
  min-width: 524px;
  padding: 4px 193px;
}

.x-movie {
  letter-spacing: 0;
  min-height: 38px;
}

.overlap-group5-2 {
  align-items: flex-start;
  background-color: var(--chateau-green);
  border-radius: 39px;
  display: flex;
  height: 50px;
  left: 1168px;
  min-width: 524px;
  padding: 4px 168px;
  position: absolute;
  top: 501px;
}

.rectangle-118 {
  background-color: var(--shark);
  border-radius: 25px;
  height: 675px;
  left: 330px;
  position: absolute;
  top: 147px;
  width: 747px;
}

.placeholder-for-form {
  left: 403px;
  letter-spacing: 0;
  position: absolute;
  top: 220px;
}

.removing-via-searching-in-db {
  left: 403px;
  letter-spacing: 0;
  position: absolute;
  top: 402px;
}

.placeholder-for-form-1 {
  left: 403px;
  letter-spacing: 0;
  position: absolute;
  top: 572px;
}

.iconly-bulk-arrow-left-circle-2 {
  height: 32px;
  left: 1168px;
  position: absolute;
  top: 37px;
  width: 32px;
}

