.drop-down-list {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 264px;
  margin-top: 8px;
  overflow: hidden;
  width: 304px;
}

.drop-down-menu {
  align-items: flex-end;
  display: flex;
  height: 296px;
  justify-content: center;
  margin-bottom: -32px;
  margin-left: 1px;
  overflow: hidden;
  width: 303px;
}

.overlap-group-container {
  height: 297px;
  margin-bottom: -1px;
  position: relative;
  width: 304px;
}

.overlap-group-2 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 304px;
}

.line-3 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 73px;
  width: 304px;
}

.content {
  align-items: center;
  display: flex;
  height: 74px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 264px;
}

.all,
.video-interviews,
.music-videos,
.netflix-reviews {
  height: 74px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 16px;
  width: 224px;
}

.overlap-group1-2 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 304px;
}

.content-1 {
  align-items: center;
  display: flex;
  height: 74px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 264px;
}

.check-box-active {
  height: 24px;
  width: 25px;
}

.overlap-group2 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 148px;
  width: 304px;
}

.overlap-group3 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 304px;
}

