.search-box-1 {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border-radius: 12px;
  display: flex;
  height: 74px;
  overflow: hidden;
  padding: 23.7px 23.7px;
  position: relative;
  width: 642px;
}

.article-name-or-keywords {
  align-self: center;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10px;
  min-height: 26px;
  white-space: nowrap;
  width: 560px;
}

